.c {
    text-align: center; /*quick center*/
}
h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container {
    display:-webkit-flex;
    justify-content: center;
    background-color:aquamarine;
    border-radius:16px;
    padding:16px;
}

.menu {
    list-style-type:none;
    display:-webkit-flex; /* display child items horizontally*/
}

.menu li {
    margin-left:16px;
    margin-right:16px;
    background-color:beige;
    padding-left:32px;
    padding-right:32px;
    padding-top:16px;
    padding-bottom:16px;
    border-radius:16px;
}
.menu li a {
    text-decoration: none;
    color: black;
    font-size: 32px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius:16px;
}

.menu li:hover {
    background-color:aquamarine;
    color: azure;
}

.menu a:hover {
    cursor:default;
}

.toBarButtonClass {
    background-color:chartreuse;
    color:azure; /* text color */
    border: none; /* removes ugly border*/
    padding: 16px 32px;
    text-align: center;
    text-decoration: none; /*remove underline*/
    display: inline-block;
    font-size: 24px;
    cursor:default;/*adds cursor pointer*/
    border-radius: 24px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.toBarButtonClass:hover {
    background-color:aliceblue;
    color:chartreuse;
}