.c {
    text-align: center;
}
.container {
    text-align:center;
}

.menu-container {
    display:flex; /* display horizontally*/
}

.menu {
    list-style-type:none;
    margin:0;
    padding:0;
    display:flex; /* display child items horizontally*/
}

.menu li {
    margin-right: 10px;
    font-size: 32px;
    font-weight: bold;
}

.menu a {
    text-decoration: none;
    color: #000;
}

.menu a:hover {
    background-color:aqua;
}